:root {
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --black: #000000;
  --tuna-color: #2f303a;
  --whisper-color: #f5f4fa;
  --boulder-color: #757575;
  --gallery-color: #eeeeee;
  --white-opacity-color: rgba(255, 255, 255, 0.6);
  --cornflower: #ececec;
  --card-set-gap: 30px;
  --social-icon: #afb1b8;
  --social-footer-bg: rgba(255, 255, 255, 0.1);
}
